.ap_sidebar {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	.ap_sidebar_main_menu,
	.ap_sidebar_components {
		height: 48%;
		width: 230px;
		overflow-y: scroll;
		overflow-x: hidden;
		&::-webkit-scrollbar {
			width: 0.25rem;
		}
		&::-webkit-scrollbar-track {
			background-color: #eee;
			border-radius: 0.5rem;
		}
		&::-webkit-scrollbar-thumb {
			background-color: #ddd;
		}
		small {
			display: block;
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
			padding-left: 1rem;
			color: #aaa;
		}
		div.sidebar_item {
			width: 220px;
			padding: 0.5rem 1rem;
			display: flex;
			align-items: center;
			justify-content: space-between;
			color: #666;
			cursor: pointer;
			&:hover,
			&:focus,
			&.active {
				background-color: #eee;
				color: #5f63f2;
			}
			div {
				display: flex;
				align-items: center;
				span:nth-child(1) {
					margin-right: 5px;
				}
			}
		}
	}
}
